<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382897237818-0pq1o3t3khcl5k47gbeoq83ahhl7morm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382897237818-0pq1o3t3khcl5k47gbeoq83ahhl7morm</string>
	<key>API_KEY</key>
	<string>AIzaSyCDfj4nt-FEHISIjzYf36_AgbS0c3PqzgE</string>
	<key>GCM_SENDER_ID</key>
	<string>382897237818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ratqAppp</string>
	<key>PROJECT_ID</key>
	<string>ratq-app-86dea</string>
	<key>STORAGE_BUCKET</key>
	<string>ratq-app-86dea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382897237818:ios:530722f858a915c28b2a03</string>
</dict>
</plist>